<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blumental.maxim.cleanboilerplate">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.activity.convert.ExchangeRatesActivity"
            android:label="Exchange rates" />
        <activity
            android:name=".view.activity.tabs.SearchTabsActivity"
            android:label="Search view" />
        <activity
            android:name=".view.activity.error.ErrorServiceActivity"
            android:label="Error service" />
        <activity
            android:name=".view.activity.nested.NestedFragmentsActivity"
            android:label="Tabs" />
        <activity android:name=".view.activity.start.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>